<!DOCTYPE html>
html(lang="sl")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title FRI DHCP
        link(rel="stylesheet", href="/assets/css/bootstrap.min.css")
    body
        block contents
        script(src="/assets/jquery.min.js")
        script(src="/assets/popper.min.js")
        script(src="/assets/js/bootstrap.min.js")